.section-container {
  min-height: 75px;
  padding: 5px 15px 10px;
  background-color: white;
  border-bottom: 1px solid #dedede;
}

.container-heading {
  color: #666;
  font-size: 15px;
  display: block;
  padding-top: 7px;
  padding-bottom: 0;
}

/* options */
.container-options {
  display: flex;
  padding-top: 10px;
  /*padding-bottom: 20px;*/
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}

.container-options-item.policy {
  flex-basis: 100%;
  min-width: 300px;
}

.container-options-item {
  display: flex;
  padding: 11px 10px 11px 0;
  align-self: flex-start;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 50%;
}

.small-icon {
  width: 20px;
  height: 20px;
}

.container-options-item-text {
  margin-left: 10px;
  font-size: 14px;
  line-height: 22px;
}
