@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

$mobile-breakpoint: "xs";

.main-box {
  width: 100%;
  height: 100%;
  position: relative;

  @include media-breakpoint-down($mobile-breakpoint) {
    height: calc(100% - 50px);
  }

  &__drawer {
    width: 100%;
    height: 100%;
  }

  &__sidenav {
    padding: 0;
    width: 450px;
    height: calc(100% - 32px);

    @include media-breakpoint-down($mobile-breakpoint) {
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    padding: 0;
    height: calc(100% - 32px);
    width: 100%;
    overflow-x: hidden !important;

    @include media-breakpoint-down($mobile-breakpoint) {
      height: 100%;
    }
  }

  &__menu {
    position: fixed;
    top: 10px;
    left: calc(100% - 55px);
    z-index: 9999;
  }

  &__map {
    position: fixed;
    top: 10px;
    left: calc(100% - 72px);
    z-index: 9999;
  }

  &__expand-btn {
    position: fixed;
    top: 10px;
    left: 8px;
    z-index: 9999;
    width: 56px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;

  @include media-breakpoint-down($mobile-breakpoint) {
    bottom: 0;
    z-index: 1;
    width: 100%;
  }
}

.photo-gallery {
  height: auto !important;
}
